# Configuration Backend DONS
# Copiez ce fichier vers .env et configurez les valeurs

# Base de données
DB_HOST=localhost
DB_NAME=dons_database
DB_USER=postgres
DB_PASS=0000
DB_PORT=5432

# Barapay
BARAPAY_CLIENT_ID=wjb7lzQVialbcwMNTPD1IojrRzPIIl
BARAPAY_CLIENT_SECRET=eXSMVquRfnUi6u5epkKFbxym1bZxSjgfHMxJlGGKq9j1amulx97Cj4QB7vZFzuyRUm4UC9mCHYhfzWn34arIyW4G2EU9vcdcQsb1

# URLs
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8001

# Environnement
ENVIRONMENT=development
